.profile__name {
  /* min-width: 294px; */
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  margin: 0;
  flex-basis: 350px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  .profile__name {
    /* min-width: 189px; */
    font-size: 27px;
    line-height: 33px;
    margin: 26px 0px 0px 30px;
  }
}
